Research Question:
What set of factors is most important in determining adult violent crime rates across U.S. states from 2013-2018? How could we use these factors to accurately predict future violent crime rates?

sources:
using inplace for the rename function: https://www.geeksforgeeks.org/what-does-inplace-mean-in-pandas/

In [301]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

Data Overview: 
Jasmine

Data Cleaning

In [302]:
#loading crime data
crime_df = pd.read_csv('data/crime.csv')
print(crime_df)

     estimated_crimes_1979_2023  Unnamed: 1  Unnamed: 2  Unnamed: 3  \
0                          year  state_abbr  state_name  population
1                          1979         NaN         NaN   220099000
2                          1979          AK      Alaska      406000
3                          1979          AL     Alabama     3769000
4                          1979          AR    Arkansas     2180000
...                         ...         ...         ...         ...
2332                       2023          VA         NaN   8,715,698
2333                       2023          WA         NaN   7,812,880
2334                       2023          WV         NaN   1,770,071
2335                       2023          WI         NaN   5,910,955
2336                       2023          WY         NaN     584,057

         Unnamed: 4 Unnamed: 5   Unnamed: 6    Unnamed: 7 Unnamed: 8  \
0     violent_crime   homicide  rape_legacy  rape_revised    robbery
1           1208030      21460        76390           NaN     480700
2              1994         54          292           NaN        445
3             15578        496         1037           NaN       4127
4              7984        198          595           NaN       1626
...             ...        ...          ...           ...        ...
2332         20,589        520          NaN         2,595      3,283
2333         27,909        373          NaN         2,917      6,416
2334          4,699         87          NaN           823        199
2335         17,057        283          NaN         2,156      2,285
2336          1,116         18          NaN           314         67

              Unnamed: 9     Unnamed: 10 Unnamed: 11 Unnamed: 12  \
0     aggravated_assault  property_crime    burglary     larceny
1                 629480        11041500     3327700     6601000
2                   1203           23193        5616       15076
3                   9918          144372       48517       83791
4                   5565           70949       21457       45267
...                  ...             ...         ...         ...
2332              14,191         144,566      10,665     118,839
2333              18,203         225,535      37,583     134,730
2334               3,590          21,153       3,156      16,355
2335              12,333          71,929       7,619      54,374
2336                 717           8,585       1,185       6,631

              Unnamed: 13 Unnamed: 14
0     motor_vehicle_theft     caveats
1                 1112800         NaN
2                    2501         NaN
3                   12064         NaN
4                    4225         NaN
...                   ...         ...
2332               15,062         NaN
2333               53,222         NaN
2334                1,642         NaN
2335                9,936         NaN
2336                  769         NaN

[2337 rows x 15 columns]

In [303]:
#see what the names of each column are without any edits to the csv
print(crime_df.columns)

#rename the columns we want with proper names
crime_df.rename(columns={
    'estimated_crimes_1979_2023': 'Year',
    'Unnamed: 1': 'State_Abbreviation',
    'Unnamed: 2': 'State_Name',
    'Unnamed: 3': 'Population',
    'Unnamed: 4': 'Violent_Crime',
    'Unnamed: 5': 'Homicide',
    'Unnamed: 6': 'Rape',
    'Unnamed: 7': 'Rape_Revised',
    'Unnamed: 8': 'Robbery',
    'Unnamed: 9': 'Aggravated_Assault'
},inplace=True)

#drop columns that will not be used during the analysis
crime_df = crime_df.drop(columns=['Rape_Revised','Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14'])
print(crime_df)

Index(['estimated_crimes_1979_2023', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14'],
      dtype='object')
      Year State_Abbreviation  State_Name  Population  Violent_Crime  \
0     year         state_abbr  state_name  population  violent_crime
1     1979                NaN         NaN   220099000        1208030
2     1979                 AK      Alaska      406000           1994
3     1979                 AL     Alabama     3769000          15578
4     1979                 AR    Arkansas     2180000           7984
...    ...                ...         ...         ...            ...
2332  2023                 VA         NaN   8,715,698         20,589
2333  2023                 WA         NaN   7,812,880         27,909
2334  2023                 WV         NaN   1,770,071          4,699
2335  2023                 WI         NaN   5,910,955         17,057
2336  2023                 WY         NaN     584,057          1,116

      Homicide         Rape  Robbery  Aggravated_Assault
0     homicide  rape_legacy  robbery  aggravated_assault
1        21460        76390   480700              629480
2           54          292      445                1203
3          496         1037     4127                9918
4          198          595     1626                5565
...        ...          ...      ...                 ...
2332       520          NaN    3,283              14,191
2333       373          NaN    6,416              18,203
2334        87          NaN      199               3,590
2335       283          NaN    2,285              12,333
2336        18          NaN       67                 717

[2337 rows x 9 columns]

In [304]:
#dropping the first row (index 0) and reset the indexes. This way, I can turn the year from object to integer.
crime_df = crime_df.drop(index=0)

# Reset the index
crime_df.reset_index(drop=True, inplace=True)

#making the year into an interger from an object
crime_df['Year']=crime_df['Year'].astype(int)

#shaping the data set so that we are only looking at years 2013 to 2018
crime_filtered_years = crime_df[(crime_df['Year'] >= 2013) & (crime_df['Year'] <= 2018)]

# Drop rows where 'State_Abbreviation' or 'State_Name' is NaN
crime_filtered_years = crime_filtered_years.dropna(subset=['State_Abbreviation', 'State_Name'])
print(crime_filtered_years)

      Year State_Abbreviation     State_Name Population Violent_Crime  \
1769  2013                 AK         Alaska     737259          4709
1770  2013                 AL        Alabama    4833996         20834
1771  2013                 AR       Arkansas    2958765         13705
1772  2013                 AZ        Arizona    6634997         27576
1773  2013                 CA     California   38431393        154739
...    ...                ...            ...        ...           ...
2073  2018                 VT        Vermont     624358          1155
2074  2018                 WA     Washington    7523869         23719
2075  2018                 WI      Wisconsin    5807406         17365
2076  2018                 WV  West Virginia    1804291          5411
2077  2018                 WY        Wyoming     577601          1235

     Homicide  Rape Robbery Aggravated_Assault
1769       34   657     623               3127
1770      346  1449    4645              13788
1771      158  1135    2261               9796
1772      355  2344    6656              17391
1773     1746  7464   53640              89029
...       ...   ...     ...                ...
2073       11   NaN      73                745
2074      236   NaN    5557              14316
2075      175   NaN    3493              11364
2076       76   NaN     333               4286
2077       14   NaN      75                885

[306 rows x 9 columns]

In [305]:
#loading poverty data
poverty_df = pd.read_csv('data/poverty.csv')
print(poverty_df)

                                             Unnamed: 0        Unnamed: 1  \
0     Table 19. Number of Poor and Poverty Rate by S...               NaN
1     (Population in thousands. Population as of Mar...               NaN
2                                                  2023               NaN
3                                                 State  Total population
4                                               Alabama             4,995
...                                                 ...               ...
2437                                      West Virginia             1,952
2438                                          Wisconsin             4,724
2439                                            Wyoming               468
2440  Source: U.S. Census Bureau, Current Population...               NaN
2441  Footnotes are available at <www.census.gov/top...               NaN

             Unnamed: 2                Unnamed: 3          Unnamed: 4  \
0                   NaN                       NaN                 NaN
1                   NaN                       NaN                 NaN
2                   NaN                       NaN                 NaN
3     Number in poverty  Margin of error (±) (29)  Percent in poverty
4                   711                       114                14.2
...                 ...                       ...                 ...
2437                297                        81                15.2
2438                403                        94                 8.5
2439                 49                        33                10.4
2440                NaN                       NaN                 NaN
2441                NaN                       NaN                 NaN

                    Unnamed: 5
0                          NaN
1                          NaN
2                          NaN
3     Margin of error (±) (29)
4                          2.3
...                        ...
2437                       3.8
2438                       1.8
2439                       6.6
2440                       NaN
2441                       NaN

[2442 rows x 6 columns]

In [306]:
#cleaning the first few rows that are just words
poverty_df = poverty_df.drop([0, 1])

poverty_df.rename(columns={'Unnamed: 0':'State', 'Unnamed: 1': 'PovertyTotal',
                           'Unnamed: 2': 'Margin_1', 'Unnamed: 4': 'PovertyPercent',
                           'Unnamed: 5': "Margin_2"}, inplace=True)

#cutting off any row that is not between 2013 and 2018
index_2018 = poverty_df[poverty_df['State'] == '2018'].index[0]
index_2017 = poverty_df[poverty_df['State'] == '2017 (3)'].index[0]
print(index_2018)
print(index_2017)

267
320

In [307]:
poverty_2018 = poverty_df[index_2018:index_2017-2]
print(poverty_2018.head())
print(poverty_2018.tail())

          State PovertyTotal Margin_1 Unnamed: 3 PovertyPercent Margin_2
269     Alabama        4,877      779        107           16.0      2.1
270      Alaska          720       94         15           13.1      2.0
271     Arizona        7,241      929        132           12.8      1.8
272    Arkansas        2,912      462         63           15.9      2.1
273  California       39,150    4,664        303           11.9      0.8
             State PovertyTotal Margin_1 Unnamed: 3 PovertyPercent Margin_2
315       Virginia        8,393      821        141            9.8      1.6
316     Washington        7,555      647        166            8.6      2.1
317  West Virginia        1,762      279         35           15.9      2.0
318      Wisconsin        5,795      499         89            8.6      1.5
319        Wyoming          565       53         10            9.5      1.8

In [308]:
index_2017 = poverty_df[poverty_df['State'] == '2017 (3)'].index[0]
index_2016 = poverty_df[poverty_df['State'] == '2016'].index[0]

poverty_2017 = poverty_df[index_2017:index_2016-2]
print(poverty_2017.head())
print(poverty_2017.tail())

          State PovertyTotal Margin_1 Unnamed: 3 PovertyPercent Margin_2
322     Alabama        4,801      735         95           15.3      2.1
323      Alaska          719       87         20           12.1      2.6
324     Arizona        6,981      951        171           13.6      2.5
325    Arkansas        2,921      436         54           14.9      1.8
326  California       39,250    4,759        299           12.1      0.8
             State PovertyTotal Margin_1 Unnamed: 3 PovertyPercent Margin_2
421       Virginia        8,249      847        127           10.3      1.5
422     Washington        7,431      736        104            9.9      1.5
423  West Virginia        1,794      311         46           17.3      2.5
424      Wisconsin        5,808      551         71            9.5      1.2
425        Wyoming          560       70         13           12.4      2.3

In [309]:
index_2015 = poverty_df[poverty_df['State'] == '2015'].index[0]

poverty_2016 = poverty_df[index_2016:index_2015-2]
print(poverty_2016.head())
print(poverty_2016.tail())

          State PovertyTotal Margin_1 Unnamed: 3 PovertyPercent Margin_2
428     Alabama        4,821      782        104           16.2      2.1
429      Alaska          708       89         20           12.6      2.8
430     Arizona        6,878    1,108        130           16.1      1.8
431    Arkansas        2,941      471         46           16.0      1.5
432  California       39,140    5,435        288           13.9      0.7
             State PovertyTotal Margin_1 Unnamed: 3 PovertyPercent Margin_2
474       Virginia        8,163      929        137           11.4      1.6
475     Washington        7,289      800         99           11.0      1.3
476  West Virginia        1,808      326         51           18.0      2.8
477      Wisconsin        5,764      620         84           10.7      1.5
478        Wyoming          571       62         12           10.9      2.0

In [310]:
index_2014 = poverty_df[poverty_df['State'] == '2014'].index[0]

poverty_2015 = poverty_df[index_2015:index_2014-2]
print(poverty_2015.head())
print(poverty_2015.tail())

          State PovertyTotal Margin_1 Unnamed: 3 PovertyPercent Margin_2
481     Alabama        4,820      784         99           16.3      2.0
482      Alaska          703       65         10            9.2      1.5
483     Arizona        6,728    1,156        138           17.2      2.1
484    Arkansas        2,951      475         44           16.1      1.5
485  California       39,080    5,441        347           13.9      0.8
             State PovertyTotal Margin_1 Unnamed: 3 PovertyPercent Margin_2
527       Virginia        8,216      894        133           10.9      1.6
528     Washington        7,193      819         89           11.4      1.3
529  West Virginia        1,795      261         76           14.5      4.3
530      Wisconsin        5,736      654        112           11.4      2.0
531        Wyoming          574       56         13            9.8      2.3

In [311]:
index_2013 = poverty_df[poverty_df['State'] == '2013 (4)'].index[0]
poverty_2014 = poverty_df[index_2014:index_2013-2]
print(poverty_2014.head())
print(poverty_2014.tail())

          State PovertyTotal Margin_1 Unnamed: 3 PovertyPercent Margin_2
534     Alabama        4,765      848         87           17.8      1.8
535      Alaska          694       82         13           11.9      2.0
536     Arizona        6,657    1,409        125           21.2      1.8
537    Arkansas        2,891      532         72           18.4      2.5
538  California       38,670    6,112        359           15.8      1.0
             State PovertyTotal Margin_1 Unnamed: 3 PovertyPercent Margin_2
580       Virginia        8,257      842        120           10.2      1.5
581     Washington        7,079      852        135           12.0      2.0
582  West Virginia        1,822      376         49           20.6      2.8
583      Wisconsin        5,742      628         90           10.9      1.6
584        Wyoming          572       55         10            9.7      1.8

In [312]:
index_2013 = poverty_df[poverty_df['State'] == '2013 (5)'].index[0]
index_2012 = poverty_df[poverty_df['State'] == '2012'].index[0]
poverty_2013 = poverty_df[index_2013:index_2012-2]
print(poverty_2013.head())
print(poverty_2013.tail())

          State PovertyTotal Margin_1 Unnamed: 3 PovertyPercent Margin_2
640     Alabama        4,751      796        110           16.7      2.3
641      Alaska          696       76         20           10.9      2.8
642     Arizona        6,645    1,345        153           20.2      2.3
643    Arkansas        2,940      504        114           17.1      3.9
644  California       38,050    5,675        352           14.9      1.0
             State PovertyTotal Margin_1 Unnamed: 3 PovertyPercent Margin_2
686       Virginia        8,174      854        165           10.4      2.0
687     Washington        6,854      819        133           12.0      2.0
688  West Virginia        1,823      315         58           17.3      3.1
689      Wisconsin        5,625      618        115           11.0      2.0
690        Wyoming          578       68         10           11.8      1.8

In [313]:
poverty_2018 = poverty_2018.copy()
poverty_2018['Year'] = 2018
poverty_2017 = poverty_2017.copy()
poverty_2017['Year'] = 2017
poverty_2016= poverty_2016.copy()
poverty_2016['Year'] = 2016
poverty_2015 = poverty_2015.copy()
poverty_2015['Year'] = 2015
poverty_2014 = poverty_2014.copy()
poverty_2014['Year'] = 2014
poverty_2013 = poverty_2013.copy()
poverty_2013['Year'] = 2013

poverty_concat = pd.concat([poverty_2013, poverty_2014, poverty_2015, poverty_2016, poverty_2017, poverty_2018], axis=0)
poverty_concat.reset_index(inplace=True, drop=True)
print(poverty_concat)

             State PovertyTotal Margin_1 Unnamed: 3 PovertyPercent Margin_2  \
0          Alabama        4,751      796        110           16.7      2.3
1           Alaska          696       76         20           10.9      2.8
2          Arizona        6,645    1,345        153           20.2      2.3
3         Arkansas        2,940      504        114           17.1      3.9
4       California       38,050    5,675        352           14.9      1.0
..             ...          ...      ...        ...            ...      ...
354       Virginia        8,393      821        141            9.8      1.6
355     Washington        7,555      647        166            8.6      2.1
356  West Virginia        1,762      279         35           15.9      2.0
357      Wisconsin        5,795      499         89            8.6      1.5
358        Wyoming          565       53         10            9.5      1.8

     Year
0    2013
1    2013
2    2013
3    2013
4    2013
..    ...
354  2018
355  2018
356  2018
357  2018
358  2018

[359 rows x 7 columns]